.image {
    display: flex;
  gap: 10px;
}
.image-card {
    background-color: #000; /* Màu nền cho khung */
    border-radius: 20px; /* Bo tròn các góc */
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
